.vs/
.vscode/

appsettings.json
appsettings.Development.json

bin/
obj/
*.dbmdl
*.jfm

node_modules/
packages/
dist/

.idea/
*.suo
*.user
*.ntvs*
*.njsproj
*.sln.cache
*.log

#archivos temporales
Thumbs.db
ehthumbs.db
*.bak
*.tmp
*.diff
*.patch

Migrations/

.dbtcache.v2
.futdcache.v2